extends ../layout

block content
	for data in twitter
		blockquote.combined-keyword-search
			p=data
			//footer=data.id
		pre=JSON.stringify(data, null, 3) 
		hr
	for data in facebook
		blockquote.combined-keyword-search
			p=data
			//footer=data.id
		pre=JSON.stringify(data, null, 3) 
		hr
  
